.about-section {
            padding: 60px 20px;
            max-width: 1000px;
            margin: auto;
            text-align: center;
            background-color: aliceblue;
        }

        .about-section h1 {
            font-size: 36px;
            margin-bottom: 20px;
            color: red;
        }

        .about-section p {
            text-align: justify;
            color: #555;
            line-height: 1.8x;
        }

        .team {
            padding: 60px20px;
            background-color: #fff;
        }

        .team h2 {
            font-size: 32px;
            text-align: center;
            color: red;
            margin-bottom: 30px;
        }

        .team-members {
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-wrap: wrap;
        }

        .members {
            background-color: #f9f9f9;
            padding: 20px;
            border: 2px solid black;
            border-radius: 14px;
            box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
            width: 200px;
            transition: transform 0.3s ease;

            text-align: center;
        }

        .members:hover {
            transform: scale(1.05);
        }

        .members img {
            width: auto;
            height: 200px;
            object-fit: cover;
            border-radius: 12px;

        }

        .members h3 {
            margin-top: 15px;
            font-size: 15px;
            color: #222;

        }

        .members p {
            font-size: 13px;
            color: #666;
            margin-bottom: 10px;
        }