 * {
     margin: 0px;
     padding: 0px;

 }

 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     background-color: #fff;
     color: #333;
     line-height: 1.6;


 }

 .container {
     background-color: antiquewhite;
     border-bottom: 2px solid black;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 5px 0;

 }

 nav ul li a {
     text-decoration: none;
     transition: background 0.3s;
     font-size: 18px;
     color: inherit;
     padding: 10px;
     border-radius: 8px;
 }

 .logo {
     display: flex;

     padding: 15px;
     margin: 5px;
     font-weight: bold;
     text-transform: capitalize;
     color: blue;
 }

 .ul1 {
     display: flex;
     list-style: none;
 }

 nav ul li {
     padding: 15px;
     margin: 5px;
 }

 nav ul li a:hover {
     background-color: brown;
 }

 .logo h3::before {
     content: "🌼";
 }

 .hero {

     padding: 60px 0;
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(243, 241, 238);

 }

 .hero h1 {
     font-size: 42px;
     font-weight: bold;

 }

 .hero-text {
     padding: 60px;
     max-width: 500px;
 }

 .hero p {
     padding-bottom: 30px;
     font-size: 20px;
     padding-top: 30px;

 }

 .btn {
     background-color: rgb(53, 53, 113);
     padding: 10px 12px;
     border-radius: 4px;
     color: white;
     transition: background 0.3s;
 }

 .btn a {
     text-decoration: none;
     color: white;
 }

 .btn:hover {
     background-color: rgb(131, 71, 48);
 }

 .featured {
     margin: 30px;
     padding: 10px;


 }

 .featured h3 {
     font-size: 30px;
     text-align: center;
     padding-bottom: 5px;
     color: red;

 }

 .products-row {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
 }

 .Products-card {
     background: #fff;
     border: 1px solid #1b1a1a;
     border-radius: 8px;
     padding: 10px;
     width: 270px;
     margin: 10px;
     text-align: center;

     transition: background box-shadow 0.3s;
 }

 .Products-card:hover {
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

 }

 .Products-card img {
     width: 200px;
     height: 200px;
     border-radius: 4px;
     margin-bottom: 15px;
     display: inline-block;
 }

 .Products-card h4 {
     font-size: 20px;
     margin-bottom: 10px;
 }

 .Products-card a {
     text-decoration: none;
     color: white;
 }

 footer {
     text-align: center;
     border-top: 1px solid black;
     padding: 20px;
     margin: 30px;
     color: white;
     background-color: rgb(185, 37, 37);
 }